.add-meeting-box {
  width: 275px;
  height: 250px;
  background: #ffab5cc2;
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#btn-submit {
  margin-top: 20px;
}
