.add-meeting-box {
  width: 20vw;
  height: 200px;
  background: #ffab5cc2;
  border-radius: 7px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.date-info-text {
  font-size: .5rem;
  font-style: italic;
}

#btn-submit {
  margin-top: 20px;
}