.event-box {
    width: 168px;
    height: 168px;
    background: rgb(145, 37, 37);
    border: 1px solid rgba(8, 8, 7, 0.145);
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "."
    "title"
    "release";
}