
.container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 125px);
    gap: 10px 5px;
}

#card {
    background: #E2D7D7;
}

.link {
    color:black;
    text-transform: none;
}

#card:hover {
    color: rgb(99, 91, 91);
}

/* @media screen and (min-width: 580px) {
    .container {
        grid-template-columns: 90vw;
    }
} */